.bg1 {
    /* background-image: url('bg/bt4.jpg'); */
    background-image: url('bg/th.png');
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
}

.deck-container {
    background: transparent !important;
}

body {
    background-image: url('bg/steampk.jpg');
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
}

h2 {
    border-bottom: 1px solid white !important;
}

pre {
    border: 1px solid #ddd;
    padding: 10px;
    /* background: #fff; */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.05) inset;
    position: relative;
    border-color: transparent !important;
}

pre:before {
    display: none;
    position: absolute;
    content: "";
    z-index: -2;
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 10px / 150px;
    border-radius: 10px / 150px;
}

code {
    color: #888;
    background-color: white !important;
}

.deck-status {
    color: white !important;
    font-family: sans-serif !important;
    font-size: 2em !important;
}

h1 span {
    font-size: 30px !important;
}

figure {
    padding: 2em !important;
}

.hljs {
    background: #2f2f2f87 !important;
    color: #ddd !important;
}

.hljs-name {
    color: rgb(255, 255, 255) !important;
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: #f0a !important;
}

p span,
h2 span,
h3 span, 
li span {
    color: #f0a !important;
}

.deck-prev-link,
.deck-next-link {
    color: black !important;
}

html,
body {
 
    overflow: hidden;
}